.empDot {
    height: 75px;
    width: 75px;
    background-color:white;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    display: inline-block;
  }
  
.fDot {
    height: 75px;
    width: 75px;
    background-color: red;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    display: inline-block;
  }

  .sDot {
    height: 75px;
    width: 75px;
    background-color: blue;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    display: inline-block;
  }  

  .leftpan{
    height: 100vh;
    width: 150px;
    background-color: black;
    display: block;
  }

  body {
    font-family: Arial;
    margin: 0;
  }

  .header {
    padding: 10px;
    margin: 20px;
    text-align: center;
    background: rgb(26, 16, 165);
    color: white;
    font-size: 30px;
  }
